# Eclipse
.metadata/
bin/
tmp/
.settings/
.classpath
.project

# Build
target/
build/
out/
*.class
*.jar

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Relatorio de crash da JVM
hs_err_pid*.log
replay_pid*.log
